@use '../../styles/variables' as *;

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: $primary-color;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.06);

    img {
        width: 24px;
        height: 24px;
    }
}

.avatar.user {
    display: none;
}

.avatar.bot {
    background: $primary-color;
    color: $text-color-light;
    border: none;
}